<launch>

   <node pkg="p_g5_core" name="red1" type="driver_camera_lidar.py" />
<!--    <node pkg="p_g5_core" name="red2" type="driver_camera_lidar.py" />-->



     <node pkg="p_g5_core" name="green1" type="driveView.py" />
<!--     <node pkg="p_g5_core" name="green2" type="driver_camera.py" />-->


     <node pkg="p_g5_core" name="blue1" type="Drivertrsr.py" />
<!--     <node pkg="p_g5_core" name="blue2" type="driver_camera.py" />-->

    <!--    Referee-->
    <node pkg="th_referee" type="th_referee" name="referee" output="screen"/>
</launch>