<launch>
    <rosparam command="load" file="$(find p_g5_bringup)/params/game.yaml"/>

   <include file="$(find p_g5_bringup)/launch/spawn.launch">
<!--_____________________team re________________-->
<!--       parametros robo red1-->
       <arg name="player_name" value="red1"/>
       <arg name="player_color" value="Red"/>
       <arg name="x_pos" value="-5"/>
       <arg name="y_pos" value="7"/>
       <arg name="z_pos" value="3"/>
   </include>

<!--    ___________team Green___________-->
     <include file="$(find p_g5_bringup)/launch/spawn.launch">
    <!--       parametros verde1-->
       <arg name="player_name" value="green1"/>
       <arg name="player_color" value="Green"/>
       <arg name="x_pos" value="0"/>
       <arg name="y_pos" value="5"/>
         <arg name="z_pos" value="3"/>
    </include>

<!--    ____________team Blue________________-->
      <include file="$(find p_g5_bringup)/launch/spawn.launch">
    <!--       parametros blue1-->
       <arg name="player_name" value="blue1"/>
       <arg name="player_color" value="Blue"/>
       <arg name="x_pos" value="0"/>
       <arg name="y_pos" value="10"/>
          <arg name="z_pos" value="3"/>
    </include>
</launch>